.container {
    display: flex;
    flex-flow: row wrap;
    /* text-align: center; */
    width: 80%;
    margin: 0 auto;
}
.wrapper {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}
.header {
    display: flex;
    background-color: tomato;
    height: 100px;
    width: 100%;
}
.header img {
    width: 80px;
}
.header h1 {
    margin: 0 auto;
        margin-top: 25px;
}
.footer {
    display:flex;
    background-color: lightgreen;
    height: 80px;
    width: 100%;
}
.footer audio {
    margin-top: 12px;
    margin-left: auto;
}
audio,source {
    background-color: blueviolet;
}
.main {
    text-align: center;
    background-color: deepskyblue;
    height: 300px;
    font-size: 24px;
}
.side1 {
    background-color: gold;
}
.side2 {
    background-color:gray;
}
@media all and (min-width: 800px){
    .main {
        flex: 3;
    }    
    .side1{
        order: 1;
    }
    .side2 {
        order: 2;
    }
    .main {
        order: 2;
    }
    .footer {
        order: 4;
    }
}
@media all and (min-width: 600px) {
    aside {
        flex: 1;
    }
    
}