<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Layouts, Video and Audio</title>
  <link rel="stylesheet" href="layouts.css" />
</head>

<body>
  <div class="container">
    <header class="header">
      <img src="../html.png">
      <h1>Header</h1>
    </header>
    <article class="main">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rem fugit dolorem tempore quia culpa
        deleniti quaerat odio ratione inventore voluptatibus, eveniet amet necessitatibus debitis error quasi mollitia!
        Veritatis asperiores est eligendi expedita praesentium! Aliquid, sint maxime.
      </p>
    </article>
    <aside class="side1">
      <h3>Order list</h3>
      <ol>
        <li>HTML</li>
        <li>CSS</li>
        <li>Java</li>
      </ol>
      <h3>Unorder List</h3>
      <ul>
        <li>C</li>
        <li>C++</li>
        <li>Python</li>
      </ul>
    </aside>
    <aside class="side2">
      <video width="200" controls poster="../html.png">
        <source src="../reactjs.mp4" type="video/mp4">
      </video>
    </aside>
    <footer class="footer">
      <h1 class="heading">Created by Amir Khan</h1> 
      <audio controls muted>
        <source src="../m.mp3" type=""></source>
      </audio>
    </footer>
  </div>
</body>

</html>